html,
body {
    margin: 0;
    max-height: 100vh;
    background-color: #121213;
}

.main-content-container {
    background-color: #121213;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;

}

.main-header-text {
    font-family: 'Gemunu Libre', sans-serif;
    margin: 1rem;
    display: flex;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    justify-content: center;
    width: 7rem;
    height: 1.7rem;
    border: white 2px solid;
}
.logout-button {
    font-family: 'Gemunu Libre', sans-serif;
    margin: 1rem;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    padding: .2 .4 .2 .4rem;
    border: white 2px solid;
}

.main-header-container {
    background-color: #121213;
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
}

.profile-buttons {
    position: absolute;
    right: 1rem;
}

.main-popup-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: fit-content;
}

.lesser-popup-container {
    background-color: #121213;
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    justify-content: center;
    width: 90%;
    max-width: 750px;
    height: fit-content;
    border-radius: 25px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.popup-text {
    color:white;
}

.popup-login-wrapper {
    width: 100%;
}

.form-container {
    width:100%;
}

.welcome-message-text {
    color: white;
}



.submit-buttons-container {
    display: flex;
    margin-top: .2rem;
    justify-content: center;
}

.submit-button-register {
    color:white;
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    background-color:rgb(82, 68, 123);
    width: 35%;
    min-height: 3rem;
    outline: none;
    border: none;
    border: .2rem solid #121213;

}

.submit-button-login {
    color: white;
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    background-color:  rgba(129, 49, 49, 0.692);
    width: 35%;
    min-height: 3rem;
    outline: none;
    border: none;
    border: .2rem solid #121213;
}

.form-container {
    display: flex;
    justify-content: center;
}

.email-login-form {
    color: white;
    background-color: #121213;
    text-align: center;
    width: 68%;
    outline: none;
    border: none;
    min-height: 2rem;
    border: 3px solid white;
}

.password-login-form {
    color:white;
    margin-top: .3rem;
    background-color: #121213;
    text-align: center;
    width: 68%;
    outline: none;
    min-height: 2rem;
    border: 3px solid white;
}

.welcome-message-wrapper {
    display: flex;
    justify-content: center;
}

.email-wrapper {
    display: flex;
    justify-content: center;

}

.password-wrapper {
    display: flex;
    justify-content: center;

}

.errmsg {
    font-size: 1.5rem;
    font-family: 'Barlow', sans-serif;
    color: white;
    text-align: center;
}

.play-button {
    font-size: 1.8rem;
    background-color: #121213;
    font-family: 'Gemunu Libre', sans-serif;
    color: green;
    border: green 3px solid;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.play-button:hover {
    color: black;
    background: white;
    border: 3px white solid;
    transition: .4;
}

.question-container {
    display: flex;
    justify-content: center;
    max-width: 55vw;
}

.question-text {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-family: 'Barlow', sans-serif;
}

.answer-text {
    font-size: 1.3rem;
    background-color: #121213;
    font-family: 'Barlow', sans-serif;
    color: #cacaca;
    border: #cacaca 3px solid;
    margin-bottom: 1rem;
    padding: .4rem;

}

.answer-correct {
    font-size: 1.3rem;
    background-color: #121213;
    font-family: 'Barlow', sans-serif;
    color: green;
    border: green 3px solid;
    margin-bottom: 1rem;
    padding: .4rem;
}

.answer-incorrect {
    font-size: 1.3rem;
    background-color: #121213;
    font-family: 'Barlow', sans-serif;
    color: red;
    border: red 3px solid;
    margin-bottom: 1rem;
    padding: .4rem;
}

.answers-container {
    display: grid;
    height: fit-content;
    width: 90%;
    max-width: 80vw;
}

.question-popup-container {
    background-color: #121213;
    margin-top: 1rem;
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    justify-content: center;
    width: 90%;
    max-width: 750px;
    height: fit-content;
    border-radius: 25px;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.results-box {
    background-color: #121213;
    display: grid;
    overflow-y: auto;
    grid-template: 1fr / 1fr;
    place-items: center;
    justify-content: center;
    width: 90%;
    max-width: 500px;
    height: 75vh;
    margin-left: 1rem;
    margin-right: 1rem;
    border: white solid 2px
}
.result-item {
    color: white;
}

.share-today-button {
    font-family: 'Gemunu Libre', sans-serif;
    margin: 1rem;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    padding: .2 .4 .2 .4rem;
    border: white 2px solid;
}
.share-all-button {
    font-family: 'Gemunu Libre', sans-serif;
    margin: 1rem;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    padding: .2 .4 .2 .4rem;
    border: white 2px solid;
}
.share-container {
    display: flex;
    margin-top: .2rem;
    justify-content: center;
}